<!DOCTYPE html>
<html>
<head>
    <title>About Us</title>
    <!-- Add necessary CSS and meta tags here if needed -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.png', _v='1.0') }}">

</head>
<body>
    <!-- navi start -->
    {% include 'navbar.html' %}

    <!-- navi end -->

    <div class="container">
        <!-- Add your about us content here -->
        <h1>About Us</h1>
        <p>
            <h2>Welcome to All Video Downloader</h2>
            
            At All video Downloader, we are passionate about making it easy for users to download videos from their favorite platforms. Our platform provides a seamless and user-friendly experience, allowing you to download videos from YouTube, Facebook, Instagram, TikTok, and more with just a few clicks.
            
            <h2>**Our Mission**</h2>
            
            Our mission is to empower users to access their favorite video content offline, enabling them to enjoy videos anytime, anywhere, without the need for an internet connection. We understand the importance of convenience and accessibility, and that's why we've created a reliable and efficient video downloader service for everyone.
            
            <h2>**Why Choose Us?**</h2>
            
            <b>**Easy-to-Use**</b>: We believe that downloading videos should be simple and hassle-free. Our intuitive interface ensures that even novice users can download videos effortlessly.<br>
            
            <b>**Wide Platform Support**</b>: Our video downloader supports a wide range of popular platforms, giving you the freedom to download videos from different sources.<br>
            
            <b>**Multiple Formats**</b>: Whether you prefer MP4 or MP3, we've got you covered. Choose your desired format and start downloading your favorite videos.<br>
            
            <b>**High Quality**</b>: We prioritize quality, and our video downloader ensures that you get the best quality available for the downloaded content.<br>
            
            <b>**Fast and Efficient**</b>: Say goodbye to long waiting times. Our service is designed to be fast and efficient, allowing you to download videos quickly.<br>
            
            <b>**Privacy and Security**</b>: Your privacy and security are of utmost importance to us. We follow strict data protection measures to keep your information safe.<br>
            
            <h2>**Our Team**</h2>
            
            Behind All Video Downloader, there's a dedicated team of video enthusiasts, developers, and tech-savvy individuals who are committed to providing you with the best video downloader experience. We continuously strive to improve our service, adding new features and optimizing performance to meet the evolving needs of our users.
            
            <h2>**Contact Us**</h2>
            
            We value your feedback and are always here to assist you. If you have any questions, suggestions, or encounter any issues while using our video downloader, please don't hesitate to reach out to our friendly support team at <b>zawhtikeaung19@gmail.com</b>. We'll be delighted to hear from you and help you in any way we can.
            
            We look forward to sharing our video downloader journey with you!
            
            Thank you for choosing All Video Downloader. Happy downloading!
            
            ---
            </p>
    </div>

    <!-- Add necessary scripts here if needed -->
    <script src="{{ url_for('static', filename='bootstrap.bundle.min.js') }}"></script>
</body>
</html>
